<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= @rating.ticket %>
</p>

<p>
  <b>Access key:</b>
  <%= @rating.access_key %>
</p>

<p>
  <b>Value:</b>
  <%= @rating.value %>
</p>

<p>
  <b>Agent email:</b>
  <%= @rating.agent_email %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
